.body {
    background-color: rgb(15, 250, 113);
    }
.carousel .carousel-inner .carousel-item  img{
    height: 600px;
}

.container h1{
   text-align: center;
}

.footer {
    height: 300px;
    background-image: linear-gradient(1deg, white, rgb(15, 250, 113));
    display: flex;
    justify-content: center;
}
.footer .boox {
    width: 80px;
    height: 40px;
    margin: 50px;
}
.footer .boox a {
    text-decoration: none;
    color:black;
    font-size: 20px;
}
p {
    font-size: 20px;
}
.footer .boox img {
    width: 20px;
    height: 20px;
}
